@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap");
body {
  background: #1d1d1d;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Sora", sans-serif;
}
.offer-page-image-containter {
  width: 100%;
}
::-webkit-scrollbar-thumb {
  background: #fec303;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar {
  width: 8px;
}
@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}
.offer-image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
.offer-page-image-containter div {
  position: unset !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
